    <div class="container">
      <div class="blue"></div>
			<div class="left_nav">
        <li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Portfolio", portfolio_path %></li>
  		</div>
      <div class="right_nav">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>          
      </div>
      <div class="center">
      	<%= link_to "Keith Asazawa", root_path, id: "logo" %>
    	</div>
    </div>
